
html, body {
  height: 100%;
  margin: 10;
  padding: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 40px;
  flex: 1;
  color: #ffffff;
}

.pagina-login {
  background: linear-gradient(135deg, #f10505, #460103);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.pagina-login .container {
  background-color: #480704;
  padding: 2.5rem;
  border-radius:20px;
   box-shadow: 0 0 20px 1px rgba(124, 85, 14, 0.7); 
  text-align: center;
  width: 100%;
  max-width: 250px;
  backdrop-filter: blur(5px);
}

.pagina-login h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #FAA307;
}

.pagina-login h2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #FAA307;
}

.pagina-login input[type="email"],
.pagina-login input[type="password"] {
  width:100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border:none;
  border-radius: 10px;
  background-color: rgba(102, 13, 8, 0.9);
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}

.pagina-login input[type="email"]:focus,
.pagina-login input[type="password"]:focus {
  box-shadow: 0 0 10px rgba(219, 104, 9, 0.8);
  outline: none;
}

.pagina-login button {
  width: 80%;
  padding: 0.75rem;
  background-color: #f69f2d;
  color: #3f0606dd;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagina-login button:hover {
  background-color: #f19d17;
}

.pagina-login p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.pagina-login a {
  color: #F48C06;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s;
}

.pagina-login a:hover {
  color: #4e0f09;
}

.site-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 00;
}

.rodape {
  background-color: #81291b;
  color: #171414;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: auto;
}


@media (max-width: 480px) {
  .pagina-login .container {
    padding: 1.5rem;
  }

}
.pagina-login-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.img-lado {
  max-width: 600px;
  height: auto;
}@media (max-width: 600px) {
  .pagina-login-conteudo {
    flex-direction: column;
    gap: 20px;
  }
}
ul {
    display: flex;
    list-style: none; 
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul li a {
    color: #ba2d2d;
}